html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas:
   "banner"
   "quote"
   "gravel"
   "viewing"
   "symbolism"
   "footer";
}

img {
  display: block;
  width: 100%;
}

header {
  grid-area: banner;
  padding: 1rem;
}

h1 {
  font-size: 1.125rem;
  margin: 0;
  text-align: center;
}

h1 i {
  font-size: 2rem;
  text-align: center;
}

nav ul {
  display: flex;
  padding: 0 0 1rem;
  margin: 0;
  justify-content: center;
}

nav li {
  list-style-type: none;
  padding-right: 1rem;
}

nav li a {
  font-size: 1.125rem;
  color: #3783a3;
}

main {
  display: contents;
  padding: 1rem;
}

div {
  grid-area: quote;
  padding: .5rem 1rem;
}

div p i {
  font-size: 2rem;
}

div p {
  font-size: 1rem;
  padding: 1rem 1rem 1.5rem;
  text-align: center;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-top-color: #e2e2e2;
  border-bottom-color: #e2e2e2;
  margin: 0;
}

section {
  display: contents;
}

h2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
  font-size: 1rem;
}

h2 i {
  font-size: 1.5rem;
}

article {
  padding: 1rem 1rem 0;
}

article p {
  margin: 0;
  margin-bottom: 1.5rem;
}

article img {
  padding: 0;
}

article a {
  display: flex;
}
